<div ng-controller="HomeController">
    <nav-directive></nav-directive>
    <header-directive></header-directive>
    <section class="py-sm-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Job openings</h2>
                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that
                        process
                        will continue whatever.</p>
                </div>
                <div class="col-lg-6 text-end d-flex flex-column justify-content-center">
                    <button type="button"
                        class="btn bg-gradient-primary mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">See
                        all</button>
                </div>
            </div>
            <div class="col-12">
                <div class="row justify-space-between py-2">
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-background move-on-hover">
                            <a href="javascript:;">
                                <div class="full-background"
                                    style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-flats.jpg)">
                                </div>
                                <div class="card-body pt-12">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-white">Search and Discovery</h4>
                                            <p>Website visitors today demand a frictionless user expericence —
                                                especially when
                                                using search. Because of the hight standards.</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <button class="bg-gradient-primary btn icon-move-right">
                                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>