<!-- -------- START HEADER 5 w/ text and illustration ------- -->
<header>
  <div class="py-sm-4 py-4 page-header min-vh-75">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-4 my-auto">
          <h1 class="text-gradient text-primary mb-0">Your Desired</h1>
          <h1 class="mb-4">Experiences</h1>
          <p class="lead">The time is now for it to be okay to be great. For being a bright color. For standing out.</p>
          <div class="buttons">
            <button type="button" class="btn bg-gradient-primary mt-4">Discover</button>
            <button type="button" class="btn text-primary shadow-none mt-4 icon-move-right">Read more <i
                class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="col-lg-8 ps-5 pe-0">
   
            <div class="info-horizontal bg-light border-radius-xl p-5">
              <div class="icon">
                <svg class="text-primary" width="25px" height="25px" viewBox="0 0 46 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>delivery-fast</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-2320.000000, -741.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g transform="translate(1716.000000, 291.000000)">
                                <g id="delivery-fast" transform="translate(604.000000, 450.000000)">
                                    <rect class="color-background" opacity="0.601143973" x="0" y="0" width="17.25" height="3.83333333"></rect>
                                    <rect class="color-background" opacity="0.601143973" x="3.83333333" y="7.66666667" width="13.4166667" height="3.83333333"></rect>
                                    <rect class="color-background" opacity="0.601143973" x="7.66666667" y="15.3333333" width="9.58333333" height="3.83333333"></rect>
                                    <rect class="color-background" opacity="0.601888021" x="11.5" y="23" width="5.75" height="3.83333333"></rect>
                                    <path class="color-foreground" d="M44.9400833,19.3679167 L38.0611667,15.9294167 L36.3591667,9.1195 C36.1464167,8.26466667 35.37975,7.66666667 34.5,7.66666667 L31.3854167,7.66666667 L21.0833333,7.66666667 C21.0833333,7.66666667 21.0833333,31.5310833 21.0833333,32.5833333 C21.0833333,33.6355833 21.1810833,34.5 21.1810833,34.5 C21.6640833,38.801 25.2808333,42.1666667 29.7083333,42.1666667 C34.1358333,42.1666667 37.7525833,38.801 38.2355833,34.5 L44.0833333,34.5 C45.1413333,34.5 46,33.6413333 46,32.5833333 L46,21.0833333 C46,20.3569167 45.5898333,19.69375 44.9400833,19.3679167 Z M29.7083333,38.3333333 C27.0671667,38.3333333 24.9166667,36.18475 24.9166667,33.5416667 C24.9166667,30.8985833 27.0671667,28.75 29.7083333,28.75 C32.3495,28.75 34.5,30.8985833 34.5,33.5416667 C34.5,36.18475 32.3495,38.3333333 29.7083333,38.3333333 Z M24.9166667,17.25 L24.9166667,11.5 L33.2426667,11.5 L34.5,17.25 L24.9166667,17.25 Z"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              </div>
              <div class="description ps-4">
                <h5>Landbot closes $8M Series</h5>
                <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue.</p>
                <a href="javascript:;" class="text-primary icon-move-right">
                  More about us
                  <i class="fas fa-arrow-right text-sm ms-1"></i>
                </a>
              </div>
            </div>
    
        </div>
      </div>
    </div>
  </div>

</header>
<!-- -------- END HEADER 5 w/ text and illustration ------- -->