<header>
  <div class="page-header min-vh-75">
    <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
      <div
        class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 border-radius-lg border-top-start-radius-0 ms-n6"
        style="background-image: url(https://media-cdn-v2.laodong.vn/storage/newsportal/2023/10/12/1253579/Vinh-Ha-Long-1.jpg) "></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center text-md-start text-center flex-column">
          <h1 class="text-gradient text-primary mb-0">Điểm đến mơ ước</h1>
          <h2 class="mb-4">Traversy</h1>
          <p class="lead">Thế giới đầy những điều tuyệt vời mà bạn chưa từng thấy. Đừng bao giờ từ bỏ cơ hội để thấy chúng! </p>
          <div class="buttons">
            <button type="button" class="btn btn-lg btn-rounded bg-gradient-primary mt-3">Khám phá ngay<i
              class="fas fa-arrow-right ms-3" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>