<!-- -------- START HEADER 5 w/ text and illustration ------- -->
<header>
  <div class="py-sm-4 py-4 page-header min-vh-75">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 my-auto">
          <h1 class="text-gradient text-primary mb-0">Your Desired</h1>
          <h1 class="mb-4">Experiences</h1>
          <p class="lead">The time is now for it to be okay to be great. For being a bright color. For standing out.</p>
          <div class="buttons">
            <button type="button" class="btn bg-gradient-primary mt-4">Discover</button>
            <button type="button" class="btn text-primary shadow-none mt-4 icon-move-right">Read more <i
                class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="col-lg-8 ps-5 pe-0">
          <div class="row d-flex align-items-center justify-content-center">
       
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!-- -------- END HEADER 5 w/ text and illustration ------- -->