<nav class="navbar navbar-expand-lg navbar-light bg-white py-3" ng-controller="NavController">
  <div class="container">
    <a class="navbar-brand font-weight-bold fs-5 is-logo text-gradient text-primary"
      href="/" rel="tooltip"
      title="Designed and Coded by Creative Tim" data-placement="bottom">.Traversy
    </a>
    <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard"
      class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Đặt tours</a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">
        <li class="nav-item dropdown dropdown-hover mx-2">
          <a href="/" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
            Trang chủ
          </a>
        </li>
        <li class="nav-item dropdown dropdown-hover mx-2">
          <a ng-click="navigateHandler()"
            class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
            id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false" role="button">
            Du lịch
            <img ng-src="./assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
          </a>
          <div class="dropdown-menu dropdown-menu-animation dropdown-lg border-radius-xl p-3 mt-0 mt-lg-3"
            aria-labelledby="dropdownMenuAccount">
            <div class="row d-none d-lg-flex">
              <div class="col-6">
                <div class=" h-100 w-100 d-flex border-radius-lg position-relative dropdown-image"
                  style="background-image:url('../../assets/img/curved-images/curved8.jpg')">
                  <div class="mask bg-gradient-primary border-radius-lg"></div>
                  <div
                    class="d-flex justify-content-center align-items-center text-center text-white font-weight-bold w-100 z-index-1 flex-column">
                    <div class="icon icon-shape rounded-circle bg-white shadow text-center">
                      <i class="ni ni-world text-primary text-gradient text-lg" aria-hidden="true"></i>
                    </div>
                    <span class="text-lg mt-2">
                      Du lịch<br>Cảm hứng<br>Trải nghiệm
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-6 ps-0 d-flex justify-content-center flex-column">
                <ul class="list-group">
                  <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="/tours/">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-camera-compact text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                              Miền Bắc</h6>
                            <span class="text-sm">Xem 20 tour</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="/tours/">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-camera-compact text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                              Miền Bắc</h6>
                            <span class="text-sm">Xem 20 tour</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="/tours/">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-camera-compact text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                              Miền Bắc</h6>
                            <span class="text-sm">Xem 20 tour</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row d-lg-none">
              <ul class="list-group">
                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="/tours/">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-camera-compact text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6
                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                            Miền Bắc</h6>
                          <span class="text-sm">Xem 20 tour</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="/tours/">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-camera-compact text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6
                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                            Miền Bắc</h6>
                          <span class="text-sm">Xem 20 tour</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="/tours/">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-camera-compact text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6
                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                            Miền Bắc</h6>
                          <span class="text-sm">Xem 20 tour</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-hover mx-2">
          <a ng-href="/about" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
            Giới thiệu
          </a>
        </li>
        <li class="nav-item dropdown dropdown-hover mx-2">
          <a ng-href="/contacts" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
            Liên hệ
          </a>
        </li>
      </ul>
      <ul class="navbar-nav d-lg-block d-none">
        <li class="nav-item dropdown">
          <a href="/" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false"
            class="btn bg-gradient-primary btn-round mb-0 me-1"><i class="ni ni-single-02 me-2"></i>Tài
            khoản</a>
          <ul class="dropdown-menu" aria-labelledby="accountDropdown">
            <li>
              <a class="dropdown-item" href="/login">
                Đăng nhập
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/sign-up">
                Đăng ký
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>