<div>
    <nav-directive></nav-directive>
    <about-header-directive></about-header-directive>

    <section class="mt-5 pt-2 pb-6" id="count-stats">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-3">
                    <h1 class="text-gradient text-primary" id="state1" countTo="1999">0</h1>
                    <h5>24 năm trên thị trường</h5>
                    <p>Đem đến dịch vụ chất lượng và sự tin cậy cho hàng triệu khách hàng trên khắp thế giới.</p>
                </div>
                <div class="col-md-3">
                    <h1 class="text-gradient text-primary"><span id="state2" countTo="50000">0</span>+</h1>
                    <h5>Chuyến đi</h5>
                    <p>Với hơn +50,000 chuyến đi đã được tổ chức, chúng tôi tự hào là đối tác đáng tin cậy trong mọi
                        hành trình của bạn. </p>
                </div>
                <div class="col-md-3">
                    <h1 class="text-gradient text-primary"><span id="state3" countTo="24">0</span>/7</h1>
                    <h5>Hỗ trợ</h5>
                    <p>Chúng tôi cam kết cung cấp sự hỗ trợ tối đa</p>
                </div>
            </div>
        </div>
    </section>

    <div class="page-header min-vh-50"
        style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/glass-wall.jpg')">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="position-absolute w-100 z-index-1 bottom-0">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                    </path>
                </defs>
                <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1"></use>
                </g>
            </svg>
        </div>
    </div>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 ms-auto me-auto text-center">
                    <h2 class="text-gradient text-primary">Sự Xuất Hiện Của Traversy</h2>
                    <p>
                        KHỞI ĐẦU CỦA KỶ NGUYÊN MỚI
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 position-relative">
                    <div class="position-relative ms-md-5 me-md-n5">
                        <div class="blur-shadow-image">
                            <img class="image-left rounded-3 img-fluid position-relative top-0 end-0 bg-cover"
                                src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/laptop.jpg"
                                alt="image">
                        </div>
                    </div>
                    <p
                        class="blockquote border border-primary rounded w-50 p-3 text-sm text-primary float-md-end mt-4 me-md-n2 mx-auto">
                        "Traversy bắt nguồn từ ý tưởng của nhóm những người đam mê du lịch, những người tin rằng du lịch
                        không chỉ
                        là việc di chuyển đến một địa điểm mới mà còn là việc khám phá, trải nghiệm và tạo ra những kỷ
                        niệm đáng nhớ."
                        <br>
                        <br>
                        <small>-TDev</small>
                    </p>

                    <div class="position-absolute bottom-0 mb-5 ms-n2 me-3 start-0 end-2 d-md-block d-none">
                        <div class="blur-shadow-image">
                            <img class="image-container rounded-3 img-fluid position-relative bg-cover"
                                src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/coding.jpg"
                                alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">

                    <div class="position-relative ms-n4 mb-5 mt-8 d-md-block d-none">
                        <div class="blur-shadow-image">
                            <img class="image-right rounded-3 img-fluid position-relative bg-cover"
                                src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/tasks.jpg"
                                alt="image">
                        </div>
                    </div>
                    <h3 class="mb-4">Bạn sẽ được trải nghiệm những điểm đến độc đáo và ấn tượng nhất trên thế giới.</h3>
                    <p>Từ những thành phố huyền bí và cổ kính cho đến những bãi biển tuyệt đẹp và cảnh quan thiên nhiên
                        tuyệt vời, chúng tôi mang đến cho bạn những trải nghiệm du lịch đa dạng và phong phú.
                    </p>
                    <p>
                        mang đến cho bạn những điểm đến độc đáo trên toàn cầu. Từ các thành phố thủ đô sôi động cho đến
                        những khu vực hoang sơ và bản địa, chúng tôi đưa bạn đến những nơi ít được khám phá nhưng mang
                        lại những trải nghiệm đáng nhớ. Bạn sẽ khám phá những vùng đất mới mẻ và trải nghiệm văn hóa, ẩm
                        thực và thiên nhiên độc đáo của các điểm đến này.
                    </p>
                    <p>Chúng tôi cam kết mang đến cho bạn những chuyến du lịch tuyệt vời, từ việc sắp xếp hành trình,
                        chọn lựa các hoạt động đặc biệt, đến chăm sóc khách hàng chu đáo và đảm bảo an toàn trong suốt
                        chuyến đi. Sự hài lòng của khách hàng là ưu tiên hàng đầu của chúng tôi, và chúng tôi cam kết
                        mang đến cho bạn những trải nghiệm du lịch không thể nào quên được.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- -------- START CONTENT 7 w/ card over right bg image ------- -->
    <div class="page-header min-vh-85 my-5">
        <div class="position-absolute fixed-top ms-auto w-75 h-75 border-radius-xl z-index-1 d-none d-sm-none d-md-block me-n4"
            style="background-image: url(&#39;https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/cave.jpg&#39;); background-size: cover;">
        </div>
        <div class="container">
            <div class="row mt-7">
                <div class="col-lg-6 d-flex justify-content-center flex-column">
                    <div
                        class="card card-body d-flex justify-content-center shadow-lg border-radius-lg p-5 blur align-items-center z-index-2 shadow-blur">
                        <h2 class="text-gradient text-warning mb-4">Sứ mệnh của chúng tôi</h2>
                        <p class="text-lg-start text-center mb-0">Tại Traversy, chúng tôi tin rằng du lịch không
                            chỉ là việc di chuyển đến một địa điểm mới, mà còn là cơ hội để khám phá, trải nghiệm và tạo
                            ra những kỷ niệm đáng nhớ. Sứ mệnh của chúng tôi là tạo ra những chuyến du lịch độc đáo và
                            tùy chỉnh, dành riêng cho từng khách hàng, mang đến cho họ những trải nghiệm không thể nào
                            quên được.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------- END CONTENT 10 w/ card over right bg image ------- -->



    <footer-directive></footer-directive>
</div>